.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #6C7A89; /* Adjust the background color as per the image */
}

.login-card {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.login-header {
  margin-bottom: 2rem;
  color: #333;
  font-size: 1.5rem;
}

.login-form .login-input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.button {
  width: 100%;
  padding: 12px 20px;
  color: white;
  background-color: #3498db; /* Adjust button color as per the image */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.new-user a {
  color: #3498db;
  text-decoration: none;
  font-size: 0.9rem;
}

.existing-user a {
  color: #3498db;
  text-decoration: none;
  font-size: 0.9rem;
}
.login-error {
  color: red;
  text-align: center;
}
